@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .flex-col-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flex-col-start {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .flex-col-items-start {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .flex-row-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .flex-row-items-start {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }

    .flex-row-justify-start {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .links-hover {
        a {
            transition: color 0.1s ease;
        }
        a:hover {
            color: theme(colors.neutral.400)
        }
    }
}